[Unit]
Description=Register Temperature Sensor on I2C Bus
Before=cloud-init-local.service
Requires=systemd-modules-load.service
After=systemd-modules-load.service
[Service]
Type=oneshot
ExecStart=/usr/bin/echo adt7410 0x4A
StandardOutput=file:/sys/bus/i2c/devices/i2c-1/new_device
[Install]
WantedBy=multi-user.target
