[Unit]
Description=Station Control Daemon
After=time-sync.target
Wants=time-sync.target

[Service]
Restart=always
User=admin
Group=admin
WorkingDirectory=/home/admin/uniclogs-stationd/
ExecStart=/usr/bin/python /home/admin/uniclogs-stationd/
ExecStartPost=/usr/bin/sleep 5
ExecStartPost=/home/admin/bin/stationc.sh "radio-host power on" "rotator power on"
ExecStartPost=/usr/bin/sleep 30

[Install]
WantedBy=multi-user.target
